
#tab{
    width:900px;

}
/*
.abc{
    margin-top: 100px;
    margin-left: 50px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}
*/
#up{
background-color: #28A745;
color:white;
border-color: #28A745;
}
